* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #948979;
    font-family: 'Poppins', sans-serif;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    padding-right: 10px;
    background-color: #153448;
}
@media (max-width: 699px) {
    .navbar {
        flex-direction: column;
    }
}
.navbar-list {
    list-style: none; 
}

.navbar-list li {
    display: inline; 
    margin-right: 10px; 
    margin-left: 10px; 
}
a {
    text-decoration: none; /* Remove default underline */
    color: #DFD0B8; /* Set link color to black (or any color you prefer) */
}
a:hover {
    color: #fce1b5; /* Set link color to white on hover */
}
.footer-section{ 
    background-color: #153448;
    color: #DFD0B8;
    padding: 10px 0 10px 0;
    text-align: center;
    position: fixed;
     bottom: 0;
        width: 100%;


}
.mid-container{
    display: flex;
}
.feed{
  padding: 20px;
  width: 70%;
   
   display: flex;
  flex-direction: column;
 
  height: 90vh;
 
  overflow: scroll;
  scroll-behavior: smooth;
}
.suggestion{
    padding: 20px;
    width: 30%;
     border-right: #153448   2px solid;
     display: flex;
    flex-direction: column;
   
    height: 90vh;
   
    overflow: scroll;
    scroll-behavior: smooth;
    
    
}
.suggestion-tab{
  padding: 20px;
  width: 100%;
  
   display: flex;
  flex-direction: column;
 
  height: 85vh;
 
  overflow: scroll;
  scroll-behavior: smooth;
  
  
}
.suggestion-nav{
    display: none;
}
@media (max-width: 699px) {
    .suggestion-nav {
        display: inline;
    }
  
  
}
@media (max-width: 699px) {
    .suggestion {
        display: none;
    }
    .feed {
        width: 100%;
    }
  
}

.suggestion-following{
    padding: 20px;
    
    
     display: flex;
    flex-direction: column;
   
    height: 90vh;
   
    overflow: scroll;
    scroll-behavior: smooth;
    
    
}
.login-container
{
    display: flex;
    padding: 100px;
    background-color: #DFD0B8;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-form
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #153448;
    border-radius: 10px;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.form-button {
	padding: 15px ;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #153448;
	width: 100%;
	font-size: 16px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container-pass{
    height: 84vh;
    
}
.errorlist{
  list-style: none;
  color: red;
}
.bio-form-pass{
  width: 80%;
}
@media (max-width: 699px) {
    .container-pass {
        height:80vh
    }
}
.profile-pic{
    
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    
   
}
.profile-sec-pic{
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 10px;
}
.user-section{
    display: flex;
    flex-direction: row;
   

   margin: 10px 30px 10px 30px;
    border-radius: 10px;
    
    

}
.userprofile-info  {
    
    display: flex;
    flex-direction: column;
    align-items: start;
    
    

}
@media (max-width: 699px) {
    
    .userprofile-info {
        align-items: center;
    }
}
.container-userprofile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    padding: 40px;
    background-color: white;

}
.userprofile-content{


   
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 30px;
  width: 30%;
}
@media(max-width: 699px) {
    .container-userprofile {
      flex-direction: column;
      margin: 10px;
      margin-top: 25%;
      justify-content: space-between;
      padding: 20px;
    }
    .container-userprofile img{
        width: 75px;
        height: 75px;
        
    
    }
    .userprofile-content
    {
      padding: 10px;
      padding-top: 0;
      
    }
}


#create-png{
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    border-radius: 50%;
    position: fixed;
    bottom: 45px;
    right: 50%;

}
@media (max-width: 699px) {
    #create-png {
        right: 45%;
    }
}
#create-png:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}
.content{
    width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  position: absolute;
  bottom: 110px;
  right: 5%;
}
.postbutton{
    padding: 15px  ;
	border-radius: 10px ;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #153448;
	width: 50%;
	font-size: 16px;
    position: absolute;
    bottom: 35px;
    right: 10%;
    
}
.create-post{
    display: none;
}



.avator {
  border-radius:100px;
  width:48px;
  height: 48px;
  object-fit: cover;
  margin-right: 15px;
}


.kgpnet-wrap {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius:3px;
  padding: 30px;

  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}
@media (max-width: 600px) {
  .kgpnet-wrap {
    width: 100%;
    
    padding: 20px;
    padding-bottom: 10px;
  }
}

.kgpnet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.kgpnet-header-info {
  font-weight:bold;
}
.kgpnet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.kgpnet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  
}
.kgpnet-img-wrap {
  padding-left: 60px;
}

.kgpnet-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}
.kgpnet-info-counts div {
  display: flex;
  margin-right: 20px;
}
.kgpnet-info-counts div svg {
  color:#657786;
  margin-right: 10px;
}

.postcontentp{
    word-wrap: break-word !important;
}
.around{
  padding: 20px;
    padding-bottom: 60px;
}
.del-icon
{
    align-items: end;
}

@media (max-width: 699px) {
  .bio-form{
    margin: 0 10px;
  }
}

.edit-button{
  width: 10px;
  position: relative;
  left: 90%;
  bottom: 22px;
}
.setting{
 
    position: relative;
    top: 5px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #153448;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 5%;
  background-color: #DFD0B8;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.helptext{
  display: none;
}
