{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="mid-container">
    <img src="/static/create-post.png" onclick="createpost()" id="create-png" alt="">
    <div class="suggestion">
        <h2 align="center">Suggestions</h2>
        <br>
        <div id="empty-section">

        </div>

        {% for user in users %}
        {% if user.username != request.user.username %}

        <div class="user-section">
            <div class="profile-sec">
                <!-- <img class="profile-sec-pic" src="{{user.profile.profile_picture.url}}" alt=""> -->
                {% if user.profile.profile_picture %}
                <img class="profile-sec-pic" src="{{user.profile.profile_picture.url}}" alt="">
                {% else %}
                <img class="profile-sec-pic" src="/static/profile_pics/user_icon.jpg" alt="">
                {% endif %}
            </div>
            <div class="username-section">
                <a href="/userprofile/{{user.username}}/">
                    <h3>{{user.username}}</h3>
                </a>
                <p>{{user.bio}}</p>
                {% comment %} {% if user.follower.filter(follower = request.user).exists() %}
                followed
                {% else %} {% endcomment %}
                <a id="followlink" href="/follow/{{user.username}}/">follow</a>
                {% comment %} {% endif %} {% endcomment %}

            </div>
        </div>

        {% endif %}

        {% endfor %}

    </div>
    
    <div class="feed">
        <h2 align="center">Feed</h2>
        <br>
        <div id="feed-empty-section">

        </div>
        {% for post in posts %}
        <div class="kgpnet-wrap">
            <div class="kgpnet-header">
                <img src="{{post.author.profile.profile_picture.url}}" alt="" class="avator">
                <div class="kgpnet-header-info">
                    {{post.author.username}} <span> {{ post.created_at|date:"d M Y H:i" }}
                    </span>
                    <p>{{post.content}}</p>
    
                </div>
    
            </div>
    
            <!-- <div class="kgpnet-info-counts">
              
              <div class="comments">
                
                <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                <div class="comment-count">33</div>
              </div>
              
              <div class="rekgpnets">
                <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>
                <div class="rekgpnet-count">397</div>
              </div>
              
              <div class="likes">
                <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                <div class="likes-count">
                  2.6k
                </div>
              </div>
              
              <div class="message">
                <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
              </div>
            </div> -->
        </div>
        {% endfor %}
        {% comment %} <p>{{posts.count}}</p>

        <p>{{post.content}}</p>
        {% endcomment %}

        <div class="create-post">
            <form method="POST" action="/createpost/" onsubmit="return validateForm()">
                {% csrf_token %}
                <textarea class="content" maxlength="240" name="content"
                    placeholder="Write your post here..."></textarea>
                <button class="postbutton" onclick="hidecreatepost()" type="submit">Post</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("logo").innerHTML = "KGPNetwork";
    {% if emptyval %}
    var emptyspan = document.createElement("span");
    emptyspan.innerText = "No Suggestions";
    document.getElementById("empty-section").appendChild(emptyspan);
    {% endif %}
    {% if postval %}
    var emptyspan = document.createElement("span");
    emptyspan.innerText = "Feed Empty";
    document.getElementById("feed-empty-section").appendChild(emptyspan);
    {% endif %}

    function createpost() {
        document.querySelector(".create-post").style.display = "block";
        document.getElementById("create-png").style.display = "none";
    }
    function hidecreatepost() {
        document.querySelector(".create-post").style.display = "none";
        document.getElementById("create-png").style.display = "block";
    }
    function validateForm() {
        var content = document.getElementById("postContent").value.trim();
        if (content == "") {
            alert("Post content cannot be empty.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }

</script>




{% endblock body %}