<!DOCTYPE html>
<html>

<head>
	<title>KGPNetwork</title>
	<link rel="stylesheet"
		href="/static/login.css">
</head>

<body>
    
	<div class="main">
		<h1>KGPNetwork</h1>
		<h3>Enter your login credentials</h3>
        <div id="error-message" style="display: none;">Incorrect username or password.</div>
		<form action="/login/" method="post">
            {% csrf_token %}
			<label for="username">
				Username:
			</label>
			<input type="text"
				id="username"
				name="username"
				placeholder="Enter your Username" required>

			<label for="password">
				Password:
			</label>
			<input type="password"
				id="password"
				name="password"
				placeholder="Enter your Password" required>

			<div class="wrap">
				<button type="submit"
					>
					Submit
				</button>
			</div>
		</form>
		<p>Not registered? 
			<a href="#"
			style="text-decoration: none;">
				Create an account
			</a>
		</p>
	</div>
    <script>
        // Check if the error flag is set and display the error message if needed
        {% if error %}
            document.getElementById("error-message").style.display = "block";
        {% endif %}
    </script>
</body>

</html>
