<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    
</head>
<body>
    {% load socialaccount%}
    <div class="main">
        <h1>KGPNetwork</h1>
        <h3>SignUp</h3>
        <!-- Display error message if needed -->
        <div id="error-message" style="display: none;">Password should be >8 char or username already exist</div>
        <form method="POST">
            {% csrf_token %}
            <!-- Apply custom CSS classes to form fields -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <!-- Add custom CSS class to the submit button -->
            <button class="btn" type="submit">Signup</button>
        </form>
        <form action="{% provider_login_url 'google' %}?next=/editprofile" method="post">
			{% csrf_token %}
			<button style="margin: 0;" class="gsign" type="submit">SIGN UP WITH GOOGLE</button>
		</form>
        <p>Already have an account? 
			<a href="/login/"
			style="text-decoration: none;">
				Login
			</a>
		</p>
    </div>
    <script>
       
        {% if error %}
            document.getElementById("error-message").style.display = "block";
        {% endif %}
    </script>
</body>
</html>